.bg-image-container {
  height: 100vh;
}

.bg-image {
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.26);/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 20px 20px 0 rgba(0, 0, 0, 0.26);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.26);
}