/* Color Theme Swatches in Hex */
$BPGC-Collage-Theme-1-hex: #7DC3FF;
$BPGC-Collage-Theme-2-hex: #72D0E8;
$BPGC-Collage-Theme-3-hex: #8AFFF7;
$BPGC-Collage-Theme-4-hex: #72E8BF;
$BPGC-Collage-Theme-5-hex: #7DFFAD;

/* Color Theme Swatches in RGBA */
$BPGC-Collage-Theme-1-rgba: rgba(125,195,255, 1);
$BPGC-Collage-Theme-2-rgba: rgba(114,208,232, 1);
$BPGC-Collage-Theme-3-rgba: rgba(138,255,247, 1);
$BPGC-Collage-Theme-4-rgba: rgba(114,232,191, 1);
$BPGC-Collage-Theme-5-rgba: rgba(125,255,173, 1);

/* Color Theme Swatches in HSLA */
$BPGC-Collage-Theme-1-hsla: hsla(207, 100, 74, 1);
$BPGC-Collage-Theme-2-hsla: hsla(192, 71, 67, 1);
$BPGC-Collage-Theme-3-hsla: hsla(175, 100, 77, 1);
$BPGC-Collage-Theme-4-hsla: hsla(159, 71, 67, 1);
$BPGC-Collage-Theme-5-hsla: hsla(142, 100, 74, 1);