.swiper-container-coverflow {
  padding: 100px;
  width: 60vw;
}

.coverflow-swiper-slide {
  box-sizing: border-box;
  min-width: 300px;
  min-height: 200px;
  width: 35%;
  font-family: 'Roboto', sans-serif;

  & img {
    width: 100%;
    background-color: #8AFFF7;
  }
}

.coverflow-styled-image {
  height: 45vh;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc; 
}
