.intro-box-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: 'Archivo Black', sans-serif;
  font-size: 120px;
  width: 100%;
  text-transform: uppercase;
}

.intro-heading--1 {
  color: #5050CC;
  position: absolute;
  top: 15vh;
  left: 15vw;
  text-decoration: underline;
}

.intro-heading--2 {
  position: absolute;
  top: 40vh;
  right: 15vw;
  font-size: 72px;
}

.intro-heading-bullet {
  color: #5050CC;
}