.parallax-swiper-top-slide  {
  box-sizing: border-box;
  height: 70vh;
  width: 60vw;
  font-family: 'Roboto', sans-serif;
  color: #f2faff;
  &_heading {
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 72px;
    text-transform: uppercase;
  }
  &_sub-heading {
    font-size: 40px;
    position: absolute;
    top: 0%;
  }
  &_data {
    position: absolute;
    left: 70%;
    top: 10%;
    width: 25%;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
}

.parallax-swiper-top-slide--2 {
  background-color: rgba(125, 195, 255, 0.5);
}

.parallax-swiper-top-slide--3 {
  background-color: rgb(80, 80, 204)
}

.swiper-container-initialized {
  width: 80vw;
  margin: 20vh auto;
  -webkit-box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.26);/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 40px 40px 0 rgba(0, 0, 0, 0.26);  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.26);}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    rgba(114, 234, 191, 0.5),
    rgba(0, 0, 0, 0.5) 
  ), url("../images/bpgc-parallax.jpg");
  width: 400%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}