.parallax-swiper-top {
  height: 100vh;
}

.parallax-swiper-top--1 {
  background-image: url("../images/img1.jpg");
  background-position: center;
}

// .parallax-swiper-top--2 {
//   background-image: url("../images/img2.jpg");
//   background-position: center;
// }

// .parallax-swiper-top--3 {
//   background-image: url("../images/img3.jpg");
//   background-position: center;
// }

// .parallax-swiper-top--4 {
//   background-image: url("../images/img4.jpg");
//   background-position: center;
// }
