.bg-img-container-parallax {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transform: translatez(0);
  -webkit-transform:translatez(0);
   z-index: -1;
}

.bg-img-container-parallax--1 {
  background-image: url('../images/bpgc-parallax.jpg');
}

.bg-img-container-parallax--2 {
  background-image: url('../images/comet.jpg');
  background-position: bottom;
}