/* Color Theme Swatches in Hex */
$BPGC-Collage-Theme-1-hex: #7DC3FF;
$BPGC-Collage-Theme-2-hex: #72D0E8;
$BPGC-Collage-Theme-3-hex: #8AFFF7;
$BPGC-Collage-Theme-4-hex: #72E8BF;
$BPGC-Collage-Theme-5-hex: #7DFFAD;
$IMAGE-BG-hex: #FFF7C7;
$PURPLE-hex: #5050CC;
$GREY-Shade-hex: #f2faff;