/* fonts  */

/* Archivo Black */
@font-face {
  font-family: 'Archivo Black', sans-serif;
  src: url('./typography/ArchivoBlack-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Roboto Thin */
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./typography/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f2faff;
}

html {
  box-sizing: border-box;
}

// overriding swiper's default styles.
.swiper-button-next,
.swiper-button-prev {
  color: #7dffad !important;
}

.swiper-pagination-bullet {
  background: black !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #7dffad !important;
  opacity: 1 !important;
}

.swiper-lazy-preloader {
  background: transparent !important;
}

.swiper-lazy-preloader {
  --swiper-theme-color: #5050cc !important;
  z-index: 999 !important;
}

// Webkit Scrollbar styling
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(80, 80, 204, 1), rgba(125, 255, 173, 1));
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track-piece {
  opacity: 0;
}
