/* fonts  */

/* Archivo Black */
@font-face {
  font-family: 'Archivo Black';
  src: url('./typography/ArchivoBlack-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

/* Roboto Thin */
@font-face {
  font-family: 'Roboto';
  src: url('./typography/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', Arial;
  -webkit-font-smoothing: antialiased;
  background-color: #f2faff;
}

html {
  box-sizing: border-box;
}

// overriding swiper's default styles.
.swiper-button-next,
.swiper-button-prev {
  color: #7dffad !important;
}

.swiper-pagination-bullet {
  background: black !important;
  opacity: 0.5 !important;
  height: 1.5vh !important;
  width: 1.5vh !important;
}

.swiper-pagination-bullet-active {
  background: #7dffad !important;
  opacity: 1 !important;
}

.swiper-lazy-preloader {
  background: transparent !important;
}

.swiper-lazy-preloader {
  --swiper-theme-color: #5050cc !important;
  z-index: 999 !important;
}

// Webkit Scrollbar styling
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2faff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-bottom: 2px solid #f2faff;
    background: rgba(0, 0, 0, 0.75);
}
