// overriding imported class
.swiper-container-coverflow {
  padding: 120px 0;
  width: 60vw;
  margin-top: 40vh;
  margin-bottom: 60vh;
  box-shadow: none !important;
  height: 45vh;
}

.coverflow-wide {
  margin-top: 100vh !important;
  margin-bottom: 70vh !important;
}

.coverflow-swiper-slide {
  box-sizing: border-box;
  width: 35%;
  font-family: "Roboto", Arial;

  & .normal-img-true {
    width: 90%;
  }

  & img {
    width: 80%;
    height: 100%;
    margin-top: 1%;
    background-color: silver;
  }
}

.coverflow-styled-image {
  outline: 3px solid #5050cc;
  height: 40vh;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  object-fit: cover;
  object-position: 20% 20%;
}
