.intro-box-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: 'Archivo Black', Arial;
  font-size: 120px;
  text-transform: uppercase;
  margin-bottom: 20vh;
}

.intro-heading--1 {
  font-family: 'Archivo Black', Arial;
  color: #5050CC;
  position: absolute;
  top: 15vh;
  left: 22.5vw;
  text-decoration: underline;
}

.intro-heading--2 {
  font-family: 'Archivo Black', Arial;
  position: absolute;
  top: 45vh;
  right: 25vw;
  font-size: 45px;
}

.intro-heading-bullet {
  color: #5050CC;
}