.navbar-container {
  width: 100vw;
  height: 5.5vh;
  position: fixed; /* Make it stick/fixed */
  top: 0;
  background: black;
  opacity: 0.75;
  overflow: hidden;
  z-index: 998;
  transition: all 0.5s;
  backdrop-filter: blur(10px);
}

.navbar-container:hover {
  opacity: 1;
}

.nav-items-div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  font-weight: bold;
  font-family: 'Roboto', Arial;
  color: #f2faff;
  font-size: 15px;
  margin: 10px 50px;
  transition: all 0.5s;
}

.nav-item > a:hover {
  color: #7DFFAD;
  border-color:  #5050CC;
}

.nav-item:hover {
  transform: translateX(-0.5rem);
}

.nav-item > a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #f2faff;
  z-index: 999;
  padding: 4px;
  border: 2px solid;
  border-color: transparent;
  border-radius: 2px;
  box-sizing: border-box;
}